<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <app-message
      *ngIf="userField.invalid && userField.touched"
      message="Usuário Obrigatório"
    >
    </app-message>
    <input
      class="form-control"
      placeholder="Nome do Usuário"
      type="text"
      [(ngModel)]="user"
      name="user"
      #userField="ngModel"
      required
    />
  </div>

  <div class="form-goup">
    <app-message
      *ngIf="passwordField.invalid && passwordField.touched"
      message="Senha obrigatória"
    >
    </app-message>
    <input
      class="form-control"
      placeholder="Senha"
      type="password"
      [(ngModel)]="password"
      name="password"
      #passwordField="ngModel"
      required
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
</form>
